body {
    font-family: Roboto, Verdana;
    margin: 0px;
}

.header, .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.header, .hero, footer {
    background-color: #1F2937;
}

.hero img {
    max-width: 25%;
}

#logo {
    font-size: 24px;
}

#logo, #hero-main {
    color: #F9FAF8;
}

#hero-text strong {
    font-size: 48px;
    font-weight: 900;
}

.header-links {
    column-gap: 20px;
}

.header-links a, #hero-text p{  
    font-size: 18px;
}

.header-links a, #hero-text p, #hero-text button, #call-to-action button{
    color: #E5E7EB;
}


button {
    background-color: #3882F6;
    border-radius: 12px;
    font-weight: bold;
    width: 120px;
    height: 35px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
}

#hero-text {
    max-width: 400px;
}

.info {
    margin: 2% 0 5%;
}

.testimonial {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 7% 0;
}

.info, #testimonial-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial-block strong {
    align-self: flex-end;
}

#testimonial-block {
    width: 50%;
    height: 65%;
    margin: auto;
}

.info ul {
    flex-wrap: wrap;
}

.info img {
    max-height: 300px;
    max-width: 300px;
}

.call-to-action {
    padding: 5% 10%;
    color: #E5E7EB;
}

.call-to-action #call-to-action {
    display: flex;
    justify-content: space-around;
    padding: 2% 4%;
    background-color: #3882F6;
}

#call-to-action p {
    margin:0;
}

#call-to-action button {
    border-color : #E5E7EB;
    border-style : solid;
}

footer {
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    padding: 3% 7%;
}