body {
    font-family: Roboto, Garamond;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
}