body {
    font-family: Roboto, Verdana;
    margin: 0px;
}

.header, .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

#logo {
    font-size: 24px;
}

#logo, #hero-main {
    color: #F9FAF8;
}

#hero-text strong {
    font-size: 48px;
    font-weight: 900;
}

.header-links {
    column-gap: 20px;
}

.header-links a, #hero-text p, #hero-text button {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 12px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
}

#hero-text {
    max-width: 400px;
}